<div id="video-{{ form.vars.name }}">
    {{ form_widget(form.url) }}
    <button type="button" class="btnDelVideo" data-target="video-{{ form.vars.name }}"><i class="icon far fa-minus-square"></i></button>
</div>
