<h3>Salut {{ name }} ! Bienvenue sur Snwotricks, le site des fous de la glisse !</h3>
Confirme ton inscription en cliquant sur le lien suivant:

<a href="{{ url('registration_check', {'token': token}) }}">LIEN</a>
